@import 'theme/theme';

.header {
    background-color: $primary;
}
.headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacing_md;
}

.homeIcon {
    width: 80px;
    height: 40px;
}

.searchBar {
    width: 50%;
}
