@import 'theme/theme';

.header {
    background-color: $primary;
    padding: $spacing_sm $spacing_md;
}

.homeIcon {
    cursor: pointer;
}

.connectionButton {
    background-color: $secondary !important;
    color: white !important;
}
