@import 'theme/theme';

.container {
    margin: $spacing_md 0;
}

.subSectionContainer {
    background: white;
    border-radius: 16px;
    margin: $spacing_xl 0;
    min-height: 800px;
}

.skeleton {
    display: flex;
    background: white;
    border-radius: 16px;
    margin: $spacing_xl 0;
    min-height: 800px;
    align-items: center;
    justify-content: center;
}
