@import 'theme/theme';

$letterShadow: -1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1),
    1px 0 rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1);

.chip {
    margin-right: $spacing_sm !important;
    border-color: $primary_light !important;
}
.chipName {
    color: $primary !important;
}
.selectedChipName {
    color: white !important;
}
.selected {
    background-color: $primary_light !important;
}
