@import 'theme/theme';

.container {
    display: flex;
    padding: $spacing_md 64px;
}
.videoAndCommentsContainer {
    flex-grow: 1;
}

.chapterContainer {
    width: 600px;
}

.descriptionContainer {
    padding: $spacing_sm;
    margin: $spacing_md 0;
    background-color: #faf9fa;
    border-radius: 16px;
}
