@import 'theme/theme';

.container {
    margin: $spacing_lg 0;
}

.navigationContainer {
    background-color: $pageBackground_light;
    border-radius: 16px;
    margin: $spacing_lg 0;
    padding: $spacing_lg;
}

.courseThumbnail {
    height: 620px;
    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
