@import 'theme/theme';

.comments {
    margin: auto;
    width: 1000px;
    height: 100%;
}

.comment {
    border-bottom: solid 2px grey;
    margin-bottom: $spacing-md;
    justify-content: space-around;
}

.anwers {
    margin-left: 64px;
}

.section {
    margin: $spacing-xl 0 $spacing-xl 0;
    border: solid 4px $primary;
    border-radius: 8px;
    .sectionTitle {
        padding: $spacing-sm;
        background-color: $primary;
    }
    .sectionBody {
        padding: $spacing-xl;
        display: flex;
        flex-direction: column;
    }
    .input {
        width: 100%;
        margin-bottom: $spacing-md;
    }
    .button {
        align-self: flex-end;
        background-color: $secondary !important;
        color: $secondary_text !important;
    }
}

.line {
    margin-bottom: $spacing-md;
}

.avatar {
    max-width: max-content;
    margin-right: $spacing-md;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-sm;
}