@import 'theme/theme';

.courseList {
    padding: 0 $spacing_xxl;
    display: flex;
    justify-content: space-around;
}

.course {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.vignette {
    display: flex;
    background: center no-repeat url(/images/JDG.png);
    background-size: cover;
    align-items: flex-end;
    border: solid 3px $primary;
    border-radius: 3px;
    height: 180px;
}

.title {
    display: flex;
    background: white;
    border-radius: 5px;
    margin: $spacing_sm;
    padding: 0 $spacing_sm;
}

.description {
    display: flex;
}

.carousel * {
    box-shadow: none !important; //Remove unwanted box shodow on the Paper component
}