@import 'theme/theme';

.rec-arrow:disabled {
    visibility: hidden;
}

.carousel {
    position: relative;
}
.carouselItems {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
}
.carouselItem {
    flex: 1 0 300px;
    margin-left: 1rem;
    scroll-snap-align: start;
    width: 16%;
}