@import 'theme/theme';

.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel {
    position: relative;
}
.carouselItems {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
}
.carouselItem {
    flex: 1 0 300px;
    margin-left: 1rem;
    scroll-snap-align: start;
    width: 16%;
}

.carouselArrowLeft {
    position: absolute;
    top: 50%;
    display: block;
    color: #111;
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-50%);
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: 0.5;
    }
}

.carouselArrowRight {
    position: absolute;
    margin-left: 98.5%;
    top: 50%;
    display: block;
    color: #111;
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-50%);
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: 0.5;
    }
}
