@import 'theme/theme';

.card {
    position: relative;
    padding: $spacing_md;
    margin-bottom: $spacing_md;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-width: 500px;
}

.card:hover {
    background: $primary_hover;
    .image {
        transform: scale(1.1);
        transition: transform 500ms ease-out;
    }
}

.container {
    position: relative;
    display: inline-flex;
    margin-top: $spacing_md;
    flex-direction: column;
    @media (min-width: $breakpoints_media_mdMin) {
        flex-direction: row;
    }
}

.imageContainer {
    display: flex;
    padding: $spacing_md;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    min-width: 100%;
    height: 220px;
    margin-top: $spacing_md;
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (min-width: $breakpoints_media_mdMin) {
        flex-direction: row;
        min-width: 350px;
        width: 350px;
        height: 220px;
        margin-top: 0;
    }
}
.headerContainer {
    display: flex;
    justify-content: space-between;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoints_media_mdMin) {
        margin-left: $spacing_md;
    }
}

.previewContainer {
    display: flex;
    flex-direction: column;
}
.showMoreButton {
    margin-top: $spacing_sm !important;
}

.popover {
    max-width: 600px;
    padding: $spacing_md;
    z-index: 10;
}

.price {
    display: flex;
    justify-content: center;
    padding: $spacing_md;
}

.subscribe {
    position: absolute;
    right: 0;
    top: 0;
}
