@import 'theme/theme';

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 1200px;
}
.listContainer {
    display: flex;
    flex-direction: column;
    padding: 0 $spacing_md;
}
