@import 'theme/theme';

// We want to have the description text starting at the same level as the author nickname
$avatarWidth: 40 + $spacing_sm;

.courseDescriptionContainer {
    margin: $spacing_md 0;
}
.titleContainer {
    margin: $spacing_md 0;
}

.container {
    margin-top: $spacing_md;
}
.authorContainer {
    display: flex;
    align-items: center;
}

.descriptionContainer {
    margin: $spacing_sm $avatarWidth;
}

.showMoreButton {
    margin-top: $spacing_sm !important;
    padding: 0 !important;
}
