@import 'theme/theme';

.breadcrumb {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    background-color: $primary_light;
}
.itemsContainer {
    padding: 0px $spacing_md !important;
}
.item {
    cursor: pointer;
    padding: $spacing_sm;
    :hover {
        color: white !important;
    }
}
