@import 'theme/theme';

.breadcrumb {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    background-color: $primary-light;
    padding: 0 $spacing_md;
}
.link {
    cursor: pointer;
    :hover {
        color: white !important;
    }
}
