@import 'theme/theme';

.container {
    margin-top: $spacing_xl;
    padding: $spacing_xl 0;
}

.chaptersList {
    padding: $spacing_md $spacing_xxl;
}

.chapter {
    margin: $spacing_md 0;
    padding: $spacing_md;
    border-radius: 4px;
}

.endAdornment {
    padding: 0 !important;
    max-height: 60px;
}
.goToChapterButton {
    color: white !important;
    box-shadow: none !important;
    border-radius: none !important;
}

.chapterTextField {
    width: 500px;
    height: 60px;
    margin: $spacing_md 0 !important;
}

.multiLineChapterTextField {
    width: 500px;
    margin: $spacing_md 0 !important;
}

.chapterAction {
    color: white !important;
    margin: 0 $spacing_sm !important;
}
