@import 'theme/theme';

.container {
    padding: $spacing_md 0;
    border-radius: 16px 16px 0 0;
}
.title {
    margin-bottom: $spacing_md;
    margin-left: $spacing_md;
}

.divider {
    margin: $spacing_md 0;
}
