@import 'theme/theme';

.card {
    width: 320px;
}

.media {
    min-width: 320px;
    min-height: 180px;
}

.content {
    height: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link {
    cursor: pointer;
}
