@import "theme/theme";

.root {
    display: flex;
    flex-grow: 1;
    margin-top: 30px;
    height:100%; 
    justify-content: center;

    .nav  {
        height: 100%;  
        width: 200px;
        margin-right: 110px;
        text-align: center;
        align-items: center;
        justify-content: center;

        .avatar {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            :first-child {
                
                width: 80px;
                height: 80px;

                .container {
                    display: flex;
                    flex-direction: column;

                }
            }
            
        }

        .tabLabel {
            font-size: 20px;
        }
    }

    .content {
        width: 700px;
    }

}









