@import 'theme/theme';
.searchBarContainer {
    display: flex;
    align-items: center;
}

.textFieldInput {
    height: 40px;
    background-color: white;
    border-radius: 0px 4px 4px 0px !important;
}

.searchButton {
    height: 40px;
    width: 150px;
    background-color: $primary-light !important;
    border-radius: 4px 0px 0px 4px !important;
    padding: 0 !important;
}

.searchIcon {
    color: white;
}

.notch {
    border: none !important;
}
