@import 'theme/theme';

.card {
    width: 320px;
    position: relative;
}
.title {
    height: 50px;
    padding: $spacing_sm;
}
.preview {
    height: 150px;
    padding: $spacing_sm;
    overflow: scroll;
}

.link {
    cursor: pointer;
}

.image {
    object-fit: cover;
}

.bookmark {
    position: absolute;
    right: 0;
}
